body{
    display: flex;
    flex-direction: column;
}
.header,.footer{
    background-color:#1f2937 ;
}
.section-two{
    background-color:#e5e7eb ;
}
.logo{
    font-size: 24px ;
    color:  #f9faf8;

}
.head2 h1{
    font-size: 48px ;
    font-weight: bold;
    color: #f9faf8;
}
.description{
    font-size: 18px;
    color: #e5e7eb;
}
.nav-bar{
    color: #f9faf8;
    font-size: 18px;
}
button{
    background-color: #3883f6;
}
.section-one h1{
    font-size: 36px ;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}
.quote p{
    font-size: 36px;
    font-style:  italic;
    
}
.header{
    display: flex;
    flex-direction: column;
}
.head1,.head2{
    display: flex;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    
}
.header{
    padding: 0px 200px 100px 200px;
}

.section-one ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

}
.quote{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.quote p:last-child{
    font-size: 25px;
    text-align: end;
}
.section-three{
    display: flex;
    justify-content: center;
}
.sign{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    background-color:#3883f6;
    margin: 50px;
    border-radius: 10px;
    color: white;
    padding: 10px 50px;
    
    
}
button{
    height: 35px;
    width: 90px;
    border-radius: 10px;
    border-color: white;
    color: white;
    

}
.footer{
    color: white;
    text-align: center;
}
img{
    border-radius: 15px;
}
.section-one p{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    opacity: 0.55;
}
button:hover{
    background-color: white;
    color: black;
}
.image img{
    border-radius: 0;
}